@import "../../styles/utils/variables.scss";

.pokemons-list {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;

  grid-template-columns: repeat(auto-fill, minmax($pokemonCardWidth, 1fr));

  margin-bottom: 24px;
}
