@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

.filter {
  display: inline-block;
  padding: 0 20px;
  margin-right: calc($pokemonInfoWidth + 30px);
  margin-bottom: 15px;

  @include onDesktop {
    display: inline-block;
  }

  @include onTablet {
    display: none;
  }

  @include onMobile {
    display: none;
  }
}

.filter__description{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.filter__option {
  margin-right: 4px;
  margin-bottom: 4px;
  width: 70px;

  text-transform: capitalize;
}
