@import "./styles/utils/variables.scss"; 

.App {
  margin: 0 auto;
  padding: 0 100px;

  @include onMobile {
    padding: 0 20px;
  }

  @include onTablet {
    padding: 0 20px;
  }

  @include onDesktop {
    padding: 0 100px;
  }
}

.main {
  position: relative;
}

.header {
  padding: 30px 0;
  text-align: center;
  vertical-align: middle;
}

.header-text {
  display: inline-block;
  height: 100px;
  font-size: 40px;

  padding: 10px 100px;

  @include onMobile {
    padding: 10px 70px;
  }

  @include onTablet {
    padding: 10px 100px;
  }

  @include onDesktop {
    padding: 10px 100px;
  }

  border: 4px solid #EF5350;
  border-radius: 10px;
}

.pokemons-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;



  @include onMobile {
    margin: 0 auto;
  }
}

.pokemons-list-wrapper {
  width: 100%;
  padding: 0 30px;
  text-align: center;
  margin-right: calc($pokemonInfoWidth + 60px);

  @include onDesktop {
    margin-right: calc($pokemonInfoWidth + 60px); 
  }
  
  @include onTablet {
    margin-right: calc($pokemonInfoWidth + 60px); 
  }

  @include onMobile {
    margin-right: 0;
  }
}

.pokemons-data {
  width: $pokemonInfoWidth;
}

.load-more-btn {
  width: 40%;
  margin-bottom: 60px;
  font-weight: 600;
}
